# See: https://bazel.build/versions/master/docs/bazel-user-manual.html#flag--compilation_mode

# Build and test options:
build --verbose_failures
test --verbose_failures

build --cxxopt='-std=c++14'
test --cxxopt='-std=c++14'

# Test options:
test --test_output=errors
test --keep_going

# Temporary workaround for deprecated bazel feature.
build --incompatible_remove_native_http_archive=false
