# python stuff
*.pyc
.eggs
*.egg-info
/build
/dist
# virtualenv
/env

# config
/.config.json
/.config.make
/clgen/_config.py
/requirements.txt

# package data
/clgen/data/bin
/clgen/data/gpuverify
/clgen/data/libclc
/clgen/data/oclgrind

# third part code builds
/third_party/cmake
/third_party/gpuverify
/third_party/libclc
/third_party/llvm
/third_party/ninja
/third_party/oclgrind

# build cache
/.cache

# sublime files
*.sublime-project
*.sublime-workspace

# os trash
.DS_Store

# test data
/clgen/test/data/cache
/clgen/test/data/tiny-gh.db
/clgen/test/data/db/tmp.db
/clgen/test/data/pico/corpus
/clgen/test/data/tiny/corpus
/corpus
