cycler==0.10.0  # Needed by matplotlib.
decorator==4.3.0
gast==0.2.2. # Dependency of tensorflow.
GPUtil==1.4.0
Keras==2.3.1
kiwisolver==1.0.1  # Needed by matplotlib.
isodate==0.6.0  # Needed by torch.
joblib>=0.16.0  # Needed by scikit-learn
matplotlib==2.2.0rc1
networkx>=2.4
numpy==1.16.4
pandas==0.24.1
pathlib==1.0.1
protobuf==3.6.1
psutil==5.4.5
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
PyYAML==4.2b4
scikit-learn>=0.23.2
scipy>=1.5.2
seaborn==0.9.0
tensorflow>=1.14.0
torch==1.6.0
torch_cluster==1.5.7
torch_geometric==1.4.1
torch_scatter==2.0.5
torch_sparse==0.6.6
tqdm==4.38.0
labm8==2020.06.07
