appdirs==1.4.0
cffi==1.9.1
checksumdir==1.0.5
CLgen==0.2.6
cycler==0.10.0
Cython==0.23.4
decorator==4.0.10
entrypoints==0.2.2
fire==0.1.0
h5py==2.5.0
humanize==0.5.1
ipykernel==4.5.2
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.1
Keras==1.2.2
labm8==0.0.11
MarkupSafe==0.23
matplotlib==1.5.3
mistune==0.7.3
nbconvert==4.3.0
nbformat==4.2.0
nltk==3.2.2
notebook==4.3.0
numpy==1.11.2
pandas==0.19.1
pexpect==4.2.1
pickleshare==0.7.4
pkg-resources==0.0.0
ply==3.10
prompt-toolkit==1.0.9
protobuf==3.1.0
psutil==5.0.0
ptyprocess==0.5.1
py==1.4.31
pycparser==2.17
pycparserext==2016.2
pydot-ng==1.0.0
PyGithub==1.29
Pygments==2.1.3
pyopencl==2016.2
pyparsing==2.1.10
pytest==3.0.5
python-dateutil==2.5.3
pytools==2016.2.6
pytz==2016.7
PyYAML==3.12
pyzmq==16.0.2
qtconsole==4.2.1
requests==2.11.1
scikit-learn==0.18.1
scipy==0.18.1
seaborn==0.7.1
simplegeneric==0.8.1
six==1.10.0
tensorflow-gpu==0.12.0rc1
terminado==0.6
Theano==0.8.2
tornado==4.4.2
traitlets==4.3.1
wcwidth==0.1.7
widgetsnbextension==1.2.6
